break-before-in=fit-or-vertical
break-cases=nested
break-collection-expressions=fit-or-vertical
break-fun-decl=smart
break-infix=wrap
break-separators=after-and-docked
cases-matching-exp-indent=normal
doc-comments=before
doc-comments-padding=2
field-space=loose
if-then-else=keyword-first
indent-after-in=2
let-and=sparse
match-indent-nested=auto
nested-match=align
parens-tuple-patterns=always
single-case=sparse
type-decl=sparse
break-cases=nested