body {
  text-align: center;
  background-color: #eee;
  font-family: sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  font-weight: 50;
}

#pierwszy,
#drugi {
  width: 75%;
  margin: 0 12.5%;
}

#wow {
  color: red;
  font-weight: 500;
  width: 200px;
  position: relative;
  /* background-color: pink; */
  left: 115px;
  top: 21px;
  margin-bottom: -20px;
  opacity: 0.8;
}

#logo {
  display: block;
  width: 100px;
  height: 100px;
}

#flight-time {
  font-size: 30px;
}

.city {
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #f0d9b2;
}

#cities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: burlywood;
  border-radius: 10px;
}

#plane {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#desc-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.city-image {
  display: block;
  width: 50%;
  margin: auto;
}

.weather {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

#return-main {
  position: absolute;
  top: 20px;
  left: 10px;
}

section.single {
  background-color: burlywood;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

footer {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: aliceblue;
  color: #aaa;
  font-size: 30px;
}

#passenger-list {
  text-align: left;
  display: inline-block;
  margin-left: -1em;
}

#flight-table {
  width: 100%;
  border: 1px black solid;
}
