extends layout

block content
  #{error}
  if error
    <p id='error-message'>Złe dane logowania</p>
  <form method='post'>
  input(type="hidden", name="_csrf" value=csrfToken)
  <input type='text' name='login'>
  <input type='password' name='haslo'>
  <input type='submit'>
  </form>
  <div id='ostatnie-wpisy'>
  ul
  </div>
  script(src="/js/main.js")
